@use "functions" as fx;
@use "breakpoints";
@use "theme";

// Typography
@mixin text($size-px: 16px, $height: 1.31, $weight: false, $color: false) {
  font-family: "Borna";
  font-size: fx.rem($size-px);
  line-height: $height;

  @if $weight {
    font-weight: $weight;
  }

  @if $color {
    color: $color;
  }
}

@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Breakpoints and media queries
@mixin below($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin from($w) {
  @media (min-width: calc(#{$w} + 1px)) {
    @content;
  }
}

@mixin sm-up {
  @include from(breakpoints.$sm) {
    @content;
  }
}

@mixin md-up {
  @include from(breakpoints.$md) {
    @content;
  }
}

@mixin lg-up {
  @include from(breakpoints.$lg) {
    @content;
  }
}

@mixin xl-up {
  @include from(breakpoints.$xl) {
    @content;
  }
}

@mixin xxl-up {
  @include from(breakpoints.$xxl) {
    @content;
  }
}

@mixin xxxl-up {
  @include from(breakpoints.$xxxl) {
    @content;
  }
}

@mixin xxxxl-up {
  @include from(breakpoints.$xxxxl) {
    @content;
  }
}

@mixin from-widest {
  @include from(breakpoints.$widest) {
    @content;
  }
}
