.CommunityPage .Members {
  margin-block: 40px;
  padding-block: 40px;

  .MembersPost {
    padding-block: 10px;
  }
}

.CommunityPage .Events {
  margin-block: 40px;
  padding-block: 40px;

  .EventsPost {
    padding-block: 10px;
  }
}
