@use "css/utils";
@use "css/functions" as fx;
@use "css/mixins" as mx;

.Sidebar {
  @extend .no-scrollbar;

  overscroll-behavior: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  // left: 0;
  // right: 100%;
  width: calc(100vw - fx.rem(74));
  opacity: 0;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 0 50px 50px 0;
  z-index: 11;
  overflow-y: scroll;
  transition: left 325ms cubic-bezier(0.19, 1, 0.22, 1);

  @include mx.sm-up {
    width: fx.rem(478);
  }

  ~ .Sidebar__backdrop {
    display: none;
  }

  &--closing {
    transition: all 125ms ease-in;
  }

  &--open {
    opacity: 1;
    left: 0;
  }
}

.Sidebar__backdrop {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  min-height: 100vh;

  @at-root {
    .with-backdrop & {
      display: block;
    }
  }
}
